html, body, .h1 {
    font: 10px Verdana, Helvetica, sans-serif;
}

.hexagon {
  fill: none;
  stroke: #000;
  stroke-width: .5px;
}

.hex-wrapper {
  display: table;
  height: 100%;
  width: 100%;
  overflow: hidden;
  padding:0;
  margin:0;
}

.hex-label {
  display: table-cell;
  vertical-align: middle;
  height: 100%;
  color: white;
  font-size: 12px;
  font-family: sans-serif;
  text-align: center;
}

.info {
	padding: 6px 8px;
	font: 14px/16px Arial, Helvetica, sans-serif;
	background: white;
	background: rgba(255,255,255,0.8);
	box-shadow: 0 0 15px rgba(0,0,0,0.2);
	border-radius: 5px;
	max-width: 500px;
	/*position: absolute;*/
	top: 20px;
	left: 20px;
}
.info h4 {
	margin: 0 0 5px;
	color: #777;
}
